<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p th:text="'Hello, ' + Gsmart + '!'" />
   
    
     <div class="container">
		<h2>Genie Central</h2>
    	<span><strong>Current version:  V1.1.1</strong></span>
     </div>

     <div class="container">
		<h3>Added Features</h3>
		<ul>
			<span><strong><i>V1.1.1</i></strong></span>
			<li>get activity from Internet added time</li>
			
		</ul>
     </div>	
</body>
</html>